/* ===========================================================
 * http://phil.ewels.co.uk - July 2015 redesign
 * ========================================================== */

 /* Global */
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
body {
  background-color: #efefef;
  font-family: 'Muli', sans-serif;
  font-size: 1.1em;
  line-height: 1.6em;
  text-align: center;
  color: #333;
}
section {
  height:100%;
  width:100%;
}
footer {
  width: 100%;
}
section p {
  max-width: 500px;
  margin: 0 auto;
}

#side_nav {
  position: fixed;
  z-index: 100;
  margin-top: -100px;
  top: 50%;
  right: 17px;
}
#side_nav a {
  display: block;
  float:right;
  clear:right;
  height: 20px;
  margin: 10px;
  position: relative;
  text-align: right;
  text-decoration: none;
  color: #efefef;
}
#side_nav a img, #side_nav a svg {
  height: 18px;
  margin-bottom: -2px;
  color: #efefef;
  fill: currentColor;
}

#research { background-color: #77E1FB; }
#code {     background-color: #E72425; }
#data_vis { background-color: #aaffee; }
#websites { background-color: #aaffee; }
#links {    background-color: #aaffee; }
#contact {  background-color: #aaffee; }

/* Homepage */
header {
  width: 400px;
  margin: 0 auto;
}
header img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 80px; /* Saf3+, Chrome */
  border-radius: 80px; /* Opera 10.5, IE 9 */
}
.slashes {
  color: #58E0FD;
}
#home nav a {
  display: block;
}
#home nav a img, #home nav a svg {
  width: 30px;
  fill: #333;
}


/* Footer */
footer {
  color: #666666;
  padding: 30px 0;
  margin-bottom: 50px;
  font-size: 0.8em;
}
footer a {
  color: #999999;
}
footer a:hover, footer a:focus, footer a:active {
  color: #333333;
}
.cc-licence img {
  float: left;
  padding-right: 5px;
  opacity: 0.4;
}
.cc-licence a:hover img, .cc-licence a:focus img, .cc-licence a:active img {
  opacity: 0.6;
}

/* Links List */
.links-list li {

}
.links-list a {
  display: inline-block;
  width:100%;
  padding: 5px;
  -webkit-transition: padding 0.1s, background-color 0.1s;
  transition: padding 0.1s, background-color 0.1s;
}
.links-list a:hover, .links-list a:focus, .links-list a:active {
  text-decoration: none;
  padding-left: 7px;
}
.links-list li i.fa {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #666;
}

/* Contact Form */
footer input.form-control, footer textarea.form-control, .btn-dark {
  background-color: #444;
  border: 1px solid #666;
  color: #CCC;
  border: 1px solid #333;
  border-radius: 0;
}
footer input.form-control:focus, footer textarea.form-control:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  border: 1px solid #666;
}
.btn-dark {
  color: #999;
}
.btn-dark:hover {
  color: #FFF;
  background-color: #555;
}
footer form a {
  color: #737373;
}
footer form a:hover, footer form a:active, footer form a:focus {
  color: #999;
  text-decoration: none;
}
footer form .fa {
  margin-left: 10px;
}

/* reCaptcha */
.g-recaptcha {
  width: 304px;
  opacity: 0.5;
}

/* CV */
h1 {
  font-size: 42px;
}
h2 {
  margin-top: 40px;
}

.cv-container ul {
  padding-left: 20px;
}
.cv-container > ul > li {
  margin-bottom: 12px;
}
.cv-container ul ul {
  list-style-type: none;
  font-weight: 300;
}
.cv-container ul ul li:nth-child(2) {
  font-size: 0.9em;
}
