/* ===========================================================
 * http://phil.ewels.co.uk - July 2015 redesign
 * ========================================================== */

 /* Global */
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
html, body {
  padding:0;
  margin:0;
}
body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
  text-align: center;
  color: #333;
}
section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .section_header {
  width: 300px;
  height: 300px;
  background-color: #333;
  -webkit-border-radius: 150px; /* Saf3+, Chrome */
  border-radius: 150px; /* Opera 10.5, IE 9 */
}
section .section_header h2 {
  color: #efefef;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 0;
}
section .section_header img {
  height: 150px;
}
section .section_body {
  width: 500px;
  padding: 20px;
  text-align: left;
}
h1 {
  font-weight: 400;
}

/* Page colours */
#about { background-color: #efefef !important; }
#research, .navlink_research:hover img, .navlink_research:focus img, .navlink_research:active img { background-color: #1b9e77 !important; }
#code, .navlink_code:hover img, .navlink_code:focus img, .navlink_code:active img { background-color: #d95f02 !important; }
#data_vis, .navlink_datavis:hover img, .navlink_datavis:focus img, .navlink_datavis:active img { background-color: #66a61e !important; }
#websites, .navlink_web:hover img, .navlink_web:focus img, .navlink_web:active img { background-color: #e7298a !important; }
#links, .navlink_links:hover img, .navlink_links:focus img, .navlink_links:active img { background-color: #e6ab02 !important; }
#contact, .navlink_contact:hover img, .navlink_contact:focus img, .navlink_contact:active img { background-color: #7570b3 !important; }

/* Side navigation */
#side_nav {
  position: fixed;
  z-index: 10;
  margin-top: -210px;
  top: 50%;
  right: 17px;
}
#side_nav a {
  display: block;
  float:right;
  clear:right;
  height: 50px;
  margin: 5px;
  position: relative;
  text-align: right;
  text-decoration: none;
  color: transparent;
  transition: all 0.2s ease;
}
#side_nav a:hover, #side_nav a:focus {
  color: #333;
  margin-right: 15px;
}
#side_nav a img {
  height: 50px;
  margin-bottom: -20px;
  margin-left: 10px;
  color: #efefef;
  -webkit-border-radius: 25px; /* Saf3+, Chrome */
  border-radius: 25px; /* Opera 10.5, IE 9 */
  transition: all 0.2s ease;
}
#side_nav a:hover img {
  background-color: #333;
}

#research { background-color: #77E1FB; }
#code {     background-color: #E72425; }
#data_vis { background-color: #aaffee; }
#websites { background-color: #aaffee; }
#links {    background-color: #aaffee; }
#contact {  background-color: #aaffee; }

/* Home */
#about {
  z-index: 10000;
}
header {
  width: 400px;
  margin: 0 auto;
}
header img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 80px; /* Saf3+, Chrome */
  border-radius: 80px; /* Opera 10.5, IE 9 */
}
.slashes {
  color: #58E0FD;
}
#about nav {
  margin-top: 20px;
  text-align:left;
  position:relative;
  left: 50%;
  margin-left: -29px;
}
#about nav a {
  display:block;
  text-decoration: none;
  color: #333;
  line-height: 59px;
  height: 59px;
  margin-bottom: 20px;
}
#about nav a img {
  width: 58px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-border-radius: 60px; /* Saf3+, Chrome */
  border-radius: 60px; /* Opera 10.5, IE 9 */
  transition: all 0.2s ease;
  background-color: #333;
  border: 0 solid #333;
}

/* Footer */
footer {
  color: #666666;
  padding: 30px;
  margin-bottom: 30px;
  font-size: 0.8em;
}
footer a {
  color: #999999;
}
footer a:hover, footer a:focus, footer a:active {
  color: #333333;
}
.cc-licence img {
  opacity: 0.4;
  margin-right: 10px;
  margin-bottom: -3px;
}
.cc-licence a:hover img, .cc-licence a:focus img, .cc-licence a:active img {
  opacity: 0.6;
}

/* Links List */
.links-list li {

}
.links-list a {
  display: inline-block;
  width:100%;
  padding: 5px;
  -webkit-transition: padding 0.1s, background-color 0.1s;
  transition: padding 0.1s, background-color 0.1s;
}
.links-list a:hover, .links-list a:focus, .links-list a:active {
  text-decoration: none;
  padding-left: 7px;
}
.links-list li i.fa {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #666;
}

/* Contact Form */
footer input.form-control, footer textarea.form-control, .btn-dark {
  background-color: #444;
  border: 1px solid #666;
  color: #CCC;
  border: 1px solid #333;
  border-radius: 0;
}
footer input.form-control:focus, footer textarea.form-control:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  border: 1px solid #666;
}
.btn-dark {
  color: #999;
}
.btn-dark:hover {
  color: #FFF;
  background-color: #555;
}
footer form a {
  color: #737373;
}
footer form a:hover, footer form a:active, footer form a:focus {
  color: #999;
  text-decoration: none;
}
footer form .fa {
  margin-left: 10px;
}

/* reCaptcha */
.g-recaptcha {
  width: 304px;
  opacity: 0.5;
}

/* CV */
h1 {
  font-size: 42px;
}
h2 {
  margin-top: 40px;
}

.cv-container ul {
  padding-left: 20px;
}
.cv-container > ul > li {
  margin-bottom: 12px;
}
.cv-container ul ul {
  list-style-type: none;
  font-weight: 300;
}
.cv-container ul ul li:nth-child(2) {
  font-size: 0.9em;
}
