---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import HomepageButton from "@components/HomepageButton.astro";
import HomepageCard from "@components/HomepageCard.astro";
import publications from "../publications.json";

const workplaces = (await getCollection("workplaces"))
  .sort((a, b) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf())
  .filter((item) => item.data.hideOnHomepage !== true)
  .map((item) => ({
    url: "/work/" + item.slug,
    title: item.data.title,
    iconImage: item.data.iconImage,
    iconImageDark: item.data.iconImageDark,
  }));
const education = (await getCollection("education"))
  .sort((a, b) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf())
  .filter((item) => item.data.hideOnHomepage !== true)
  .map((item) => ({
    url: "/education/" + item.slug,
    title: item.data.title,
    iconImage: item.data.iconImage,
    iconImageDark: item.data.iconImageDark,
  }));
const workplaces_edu = workplaces.concat(education);
const workplaces_edu_count = (await getCollection("workplaces")).length + (await getCollection("education")).length;

const projects = (await getCollection("projects"))
  .sort((a, b) => a.data.order - b.data.order)
  .filter((p) => p.data.personal != true && p.data.archived != true)
  .map((item) => ({
    url: "/projects/" + item.slug,
    title: item.data.title,
    iconImage: item.data.iconImage,
    iconImageDark: item.data.iconImageDark,
  }));
const projects_count = (await getCollection("projects")).length;

const talks = await getCollection("talks");
---

<BaseLayout>
  <div class="mb-5">
    <img src="/phil_ewels.jpg" class="mx-auto my-5 w-1/2 rounded-full md:hidden" alt="Philip Ewels" />
    <PageTitle extraClass="text-center md:text-left">Hi there!</PageTitle>
    <p class="mb-3 text-center text-xl md:text-left">
      I'm a software developer / bioinformatician living in Stockholm, Sweden.
    </p>
    <p class="text-center text-base font-light opacity-80 md:text-left">
      I work with high-throughput genomics data and open-source software.
    </p>
  </div>
  <div class="mb-5 text-center md:text-left">
    <HomepageButton href="https://github.com/ewels/" title="GitHub" icon="mdi:github" />
    <HomepageButton href="https://bsky.app/profile/ewels.bsky.social" title="Bluesky" icon="simple-icons:bluesky" />
    <HomepageButton href="http://uk.linkedin.com/in/philewels" title="LinkedIn" icon="mdi:linkedin" />
    <HomepageButton href="http://twitter.com/tallphil" title="X (Twitter)" icon="bi:twitter-x" />
    <HomepageButton href="https://genomic.social/@ewels" title="Mastodon" icon="mdi:mastodon" />
    <HomepageButton href="http://orcid.org/0000-0003-4101-2502" title="ORCiD" icon="simple-icons:orcid" />
    <HomepageButton
      href="https://scholar.google.se/citations?user=KJt8R0kAAAAJ&view_op=list_works&sortby=pubdate"
      title="Google Scholar"
      icon="simple-icons:googlescholar"
    />
    {
      /*
    <HomepageButton
      href="http://www.researchgate.net/profile/Philip_Ewels"
      title="Research Gate"
      icon="simple-icons:researchgate"
    />
    */
    }
  </div>

  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    <HomepageCard
      title="Where I've worked"
      description="I'm a molecular biologist, turned bioinformatician, turned research-software engineer."
      href="/work"
      items={workplaces_edu}
      plus={workplaces_edu_count - workplaces_edu.length}
    />
    <HomepageCard
      title="Projects"
      description="Explore some of the projects I've worked on."
      href="/projects"
      items={projects}
      plus={projects_count - projects.length}
    />
    <HomepageCard
      title="Talks"
      description="Find recordings and slides from presentations I've given."
      href="/talks"
      btn_text="Explore talks"
      btn_badge={talks.length}
    />
    <HomepageCard
      title="Publications"
      description="Delve into journal articles that I've written or worked on."
      href="/publications"
      btn_text="Read publications"
      btn_badge={Object.keys(publications).length}
    />
  </div>
  <div class="my-6">
    <HomepageCard
      title="Contact me"
      description="Feel free to drop me a line via Slack, twitter, email or the website contact form."
      href="/contact"
      btn_text="Contact me"
    />
  </div>
</BaseLayout>
