---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import HomepageButton from "@components/HomepageButton.astro";
import HomepageCard from "@components/HomepageCard.astro";
import publications from "./publications/publications.json";

const workplaces = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.startDate).valueOf() - new Date(a.frontmatter.startDate).valueOf()
);
const projects = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
const talks = await Astro.glob("./talks/**/*.{md,mdx}");
---

<BaseLayout>
  <div class="pb-3">
    <img src="/phil_ewels.jpg" class="mask mask-circle my-5 mx-auto w-1/2 md:hidden" alt="Philip Ewels" />
    <PageTitle extraClass="text-center md:text-left">Hi there!</PageTitle>
    <p class="mb-3 text-center text-xl md:text-left">I'm a bioinformatician living in Stockholm, Sweden.</p>
    <p class="text-center text-base font-light opacity-80 md:text-left">
      I work with high-throughput genomics data and open-source software.
    </p>
  </div>
  <div class="mt-2 pb-12 text-center md:text-left">
    <HomepageButton href="https://github.com/ewels/" title="GitHub" icon="mdi:github" />
    <HomepageButton href="http://twitter.com/tallphil" title="Twitter" icon="mdi:twitter" />
    <HomepageButton href="http://uk.linkedin.com/in/philewels" title="LinkedIn" icon="mdi:linkedin" />
    <HomepageButton href="http://orcid.org/0000-0003-4101-2502" title="ORCiD" icon="simple-icons:orcid" />
    <HomepageButton
      href="https://scholar.google.se/citations?user=KJt8R0kAAAAJ&view_op=list_works&sortby=pubdate"
      title="Google Scholar"
      icon="simple-icons:googlescholar"
    />
    <HomepageButton
      href="http://www.researchgate.net/profile/Philip_Ewels"
      title="Research Gate"
      icon="simple-icons:researchgate"
    />
  </div>

  <div class="mb-10 grid grid-cols-1 gap-4 md:grid-cols-2">
    <HomepageCard
      title="Where I've worked"
      description="I'm a molecular biologist, turned bioinformatician, turned research-software engineer."
      href="/work"
      items={workplaces}
    />
    <HomepageCard
      title="Projects"
      description="Explore some of the projects I've worked on."
      href="/projects"
      items={projects}
    />
    <HomepageCard
      title="Talks"
      description="Find recordings and slides from presentations I've given."
      href="/talks"
      btn_text={"Explore " + talks.length + " talks"}
    />
    <HomepageCard
      title="Publications"
      description="Delve into journal articles that I've written or worked on."
      href="/publications"
      btn_text={"Read " + publications.length + " publications"}
    />
  </div>

  <h2 class="mb-10 text-2xl">Contact me</h2>
  <p class="mb-4">
    You can find me on a raft of social media platforms, see links at the top of this page. I also spend a lot of time
    on the <a href="https://nf-co.re/join" class="link">nf-core</a> and
    <a href="https://www.nextflow.io/slack-invite.html" class="link">Nextflow Slack channels</a>, so feel free to drop
    me a message there.
  </p>
  <p>
    If in doubt, you can email me through this website:
    <a href="/contact" class="btn-outline btn-info btn-sm btn ml-2"> Contact me</a>
  </p>
</BaseLayout>
