---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import HorizontalCard from "@components/HorizontalCard.astro";

import publications from "./publications.json";
const pubs = (await Astro.glob("./**/*.{md,mdx}")).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
var year = null;

function short_authors(authors) {
  const num_authors = 10;
  if (authors.length > num_authors) {
    authors = authors.slice(0, num_authors - 1).concat({ family: "..." }, authors.slice(-1));
  }
  return authors
    .map((author) =>
      author.family ? author.family + " " + (author.given ?? "" ? author.given.substr(0, 1) : "") : author.name
    )
    .join(", ");
}
---

<BaseLayout title="Publications">
  <PageTitle>Publications</PageTitle>
  {
    pubs.map((post) => {
      const pub = publications[post.frontmatter.doi];
      var year_heading = null;
      if (year != pub.published["date-parts"][0][0]) {
        year = pub.published["date-parts"][0][0];
        year_heading = year;
      }
      return (
        <>
          {year_heading && <h2 class="my-4 text-2xl font-bold">{year_heading}</h2>}
          <HorizontalCard
            title={post.frontmatter.title}
            subtitle={post.frontmatter.journal + " (" + pub.published["date-parts"][0][0] + ")"}
            desc={short_authors(pub.author)}
            url={post.url}
          />
        </>
      );
    })
  }
</BaseLayout>
