---
const { author } = Astro.props;
import { Icon } from "astro-icon/components";

var longname = author.name;
var shortname = author.name;
if (author.family) {
  longname = author.family;
  shortname = author.family;
}
if (author.given && author.family) {
  longname = author.given + " " + author.family;
  shortname = author.family + " " + author.given.substr(0, 1);
}
const isMe = longname && longname.includes("Ewels");
---

<span
  title={longname}
  class:list={[{ "rounded bg-yellow-100 px-1.5 py-0.5 font-semibold dark:bg-yellow-900/40": isMe }]}
>
  {
    author.ORCID ? (
      <a href={author.ORCID} target="_blank">
        <Icon name="simple-icons:orcid" size="16px" class="inline opacity-50" />
        {shortname}
      </a>
    ) : (
      <>{shortname}</>
    )
  }
</span>

<style>
  a {
    white-space: nowrap;
  }
</style>
