---
import ThemeIcon from "./ThemeIcon.astro";
import { Icon } from "astro-icon";
---

<footer class="footer footer-center mt-8 block border-t py-6 dark:border-zinc-700">
  <div class="inline text-gray-400 dark:text-gray-600">
    Website built using
    <a href="https://astro.build/" target="_blank" class="underline">Astro</a>,
    <a href="https://tailwindcss.com/" target="_blank" class="underline">TailwindCSS</a>
    and
    <a href="https://daisyui.com/" target="_blank" class="underline">daisyUI</a>
    <span class="mx-2">|</span>
    <a href="https://github.com/ewels/phil.ewels.co.uk/" target="_blank">
      <span class="underline">See website source code</span>
      <Icon name="mdi:github" size="24px" class="inline" />
    </a>
  </div>
  <div class="float-right mr-6 hidden text-black dark:text-zinc-200 md:block">
    <ThemeIcon />
  </div>
</footer>

<script class="hidden" is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
    document.getElementById("themeToggle").checked = true;
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");
    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
    var toggles = document.getElementsByClassName("themeToggle");
    for (var i = 0; i < toggles.length; i++) {
      toggles[i].checked = isDark;
    }
  };

  var toggles = document.getElementsByClassName("themeToggle");
  for (var i = 0; i < toggles.length; i++) {
    toggles[i].addEventListener("click", handleToggleClick);
  }
</script>
