---
import DarkModeToggle from "@components/DarkModeToggle.svelte";

import { Icon } from "astro-icon";
---

<footer class="text-xs text-center mt-8 block border-t py-6 dark:border-zinc-700">
  <div class="inline text-gray-400 dark:text-gray-600">
    Website built using
    <a href="https://astro.build/" target="_blank" class="underline">Astro</a> and
    <a href="https://tailwindcss.com/" target="_blank" class="underline">TailwindCSS</a>
    <span class="mx-2">|</span>
    <a href="https://github.com/ewels/phil.ewels.co.uk/" target="_blank">
      <span class="underline">See website source code</span>
      <Icon name="mdi:github" size="24px" class="inline" />
    </a>
  </div>
  <div class="float-right mr-6 hidden text-black dark:text-zinc-200 md:block">
    <DarkModeToggle client:only />
  </div>
</footer>
