<footer class="footer footer-center block mt-5 py-6 border-t">
  <div class="inline opacity-25">
    <a href="https://github.com/ewels/phil.ewels.co.uk/" target="_blank" class="underline"> See website source code</a>
    <span class="mx-2">|</span> Modified from
    <a href="https://github.com/manuelernestog/astro-modern-personal-website" target="_blank" class="underline">
      astro-modern-personal-website
    </a> by
    <a href="https://manuelernestog.github.io" target="_blank" class="underline"> Manuel Ernesto</a>
  </div>
</footer>
