---
import { Icon } from "astro-icon/components";
---

<div
  class="sticky top-0 z-30 flex w-full items-baseline bg-zinc-200/60 px-5 py-3 font-semibold text-black shadow backdrop-blur-xl dark:border-b dark:border-white/10 dark:bg-zinc-900/90 dark:text-white xl:hidden"
>
  <span onclick="openCloseMenu()" class="mr-3 cursor-pointer text-2xl opacity-50 transition-opacity hover:opacity-100"
    >&#9776;</span
  >
  <a class="text-xl" href="/">Phil Ewels</a>
</div>

<script is:inline>
  function openCloseMenu() {
    document.getElementById("sidebar").classList.toggle("-ml-96");
    document.getElementById("sidebar").classList.toggle("ml-0");
    document.getElementById("mainpage").classList.toggle("-mr-96");
    document.getElementById("mainpage").classList.toggle("mr-0");
    document.getElementById("page_container").classList.toggle("overflow-hidden");
  }
</script>
