---
import { Icon } from "astro-icon";
---

<div
  class="sticky top-0 z-30 flex w-full items-baseline p-5 bg-gray-200/60 dark:bg-gray-800/60 text-black dark:text-white shadow-sm backdrop-blur xl:hidden font-semibold"
>
  <span onclick="openCloseMenu()" class="text-2xl cursor-pointer opacity-50 hover:opacity-100 transition-opacity mr-3"
    >&#9776;</span
  >
  <a class="text-xl" href="/">Phil Ewels</a>
</div>

<script is:inline>
  function openCloseMenu() {
    document.getElementById("sidebar").classList.toggle("-ml-96");
    document.getElementById("sidebar").classList.toggle("ml-0");
    document.getElementById("mainpage").classList.toggle("-mr-96");
    document.getElementById("mainpage").classList.toggle("mr-0");
  }
</script>
