---
import ThemeIcon from "../components/ThemeIcon.astro";
import { Icon } from "astro-icon";
---

<div
  class="sticky top-0 z-30 flex h-16 w-full items-center bg-base-100 bg-opacity-60 text-base-content shadow-sm backdrop-blur lg:hidden"
>
  <div class="navbar">
    <div class="flex-1">
      <ul class="menu menu-horizontal p-0">
        <li>
          <a>
            <Icon name="ic:outline-menu" size="24" />
            Menu
          </a>
          <ul class="border bg-base-100 p-2 shadow">
            <li><a href="/"><Icon name="bi:house-door" size="16" /> Home</a></li>
            <li><a href="/work"><Icon name="bi:person-circle" size="16" /> Where I've worked</a></li>
            <li><a href="/projects"><Icon name="bi:journal-bookmark-fill" size="16" /> Projects</a></li>
            <li><a href="/talks"><Icon name="bi:easel" size="16" /> Talks</a></li>
            <li><a href="/publications"><Icon name="bi:file-earmark-text" size="16" /> Publications</a></li>
            <li><a href="/contact"><Icon name="bi:envelope" size="16" /> Contact me</a></li>
            <li><ThemeIcon printJS="true" extraClass="justify-center border-t opacity-50" /></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex-none">
    <a class="btn-ghost no-animation btn mr-4 text-xl normal-case" href="/">Phil Ewels</a>
  </div>
</div>
