---

---

<span
  class="inline-flex items-center gap-1.5 rounded-full border border-gray-400 bg-gray-50 px-3 py-1 text-xs whitespace-nowrap text-slate-700 dark:border-zinc-600 dark:bg-gray-800 dark:text-slate-200"
>
  <slot />
</span>
