---
import NavItem from "@components/SideBar/NavItem.astro";
import SocialIcon from "@components/SideBar/SocialIcon.astro";

import { Icon } from "astro-icon";
---

<div class="menu flex flex-col flex-nowrap overflow-y-auto bg-black/80 pt-10 text-white">
  <div class="flex items-center">
    <hr class="w-1/5 opacity-25" />
    <div class="avatar m-auto block w-1/2">
      <a href="/">
        <img src="/phil_ewels.jpg" class="rounded-full" alt="Philip Ewels" />
      </a>
    </div>
    <hr class="w-1/5 opacity-25" />
  </div>
  <span class="mt-8 block text-center text-5xl font-thin">Phil Ewels</span>
  <ul class="my-menu-items my-8 mx-5">
    <NavItem href="/" icon="bi:house-door">Home</NavItem>
    <NavItem href="/work" icon="bi:person-circle">Where I've worked</NavItem>
    <NavItem href="/projects" icon="bi:journal-bookmark-fill">Projects</NavItem>
    <NavItem href="/talks" icon="bi:easel">Talks</NavItem>
    <NavItem href="/publications" icon="bi:file-earmark-text">Publications</NavItem>
    <NavItem href="/contact" icon="bi:envelope">Contact me</NavItem>
  </ul>
  <div class="flex-grow"></div>
  <div class="social-icons mt-5 flex justify-between border-t border-slate-700 px-6 py-8">
    <SocialIcon href="https://github.com/ewels/" icon="mdi:github" label="GitHub" />
    <SocialIcon href="http://twitter.com/tallphil" icon="mdi:twitter" label="twitter" />
    <SocialIcon href="http://uk.linkedin.com/in/philewels" icon="mdi:linkedin" label="LinkedIn" />
    <SocialIcon href="http://orcid.org/0000-0003-4101-2502" icon="simple-icons:orcid" label="ORCiD" />
    <SocialIcon
      href="https://scholar.google.se/citations?user=KJt8R0kAAAAJ&view_op=list_works&sortby=pubdate"
      icon="simple-icons:googlescholar"
      label="Google Scholar"
    />
    <SocialIcon
      href="http://www.researchgate.net/profile/Philip_Ewels"
      icon="simple-icons:researchgate"
      label="Research Gate"
    />
  </div>
</div>
