---
import { Icon } from "astro-icon";
---

<div data-theme="dark" class="drawer-side bg-black/80">
  <label for="my-drawer" class="drawer-overlay bg-black/80"></label>
  <div class="menu py-10 overflow-y-auto bg-black/80 text-base-content">
    <div class="flex items-center">
      <hr class="w-1/5 opacity-25" />
      <div class="avatar w-1/2 block m-auto">
        <a href="/">
          <img src="/phil_ewels.jpg" class="mask mask-circle" alt="Philip Ewels" />
        </a>
      </div>
      <hr class="w-1/5 opacity-25" />
    </div>
    <h1 class="text-white text-7xl text-thin text-center my-4">Phil Ewels</h1>
    <ul class="my-menu-items my-8 mx-5">
      <!-- Sidebar content here -->
      <li><a href="/"><Icon name="bi:person-circle" size="16" /> About me</a></li>
      <li><a href="/projects"><Icon name="bi:journal-bookmark-fill" size="16" /> Projects</a></li>
      <li><a href="/blog/1"><Icon name="bi:easel" size="16" /> Presentations</a></li>
      <li><a href="/projects"><Icon name="bi:file-earmark-text" size="16" /> Publications</a></li>
      <li><a href="/blog/1"><Icon name="bi:journal-bookmark-fill" size="16" /> Blog</a></li>
      <li><a href="/cv">CV</a></li>
      <li><a href="mailto:phil.ewels@seqera.io"><Icon name="bi:envelope" size="16" /> Contact me</a></li>
    </ul>
    <div class="grow"></div>
    <div class="social-icons px-4 my-2 flex self-center">
      <a href="https://github.com/ewels/" target="_blank" class="tooltip mx-3" data-tip="GitHub" aria-label="GitHub">
        <Icon name="mdi:github" size="24px" />
      </a>
      <a
        href="http://twitter.com/tallphil"
        target="_blank"
        class="tooltip mx-3"
        data-tip="twitter"
        aria-label="twitter"
      >
        <Icon name="mdi:twitter" size="24px" />
      </a>
      <a
        href="http://uk.linkedin.com/in/philewels"
        target="_blank"
        class="tooltip mx-3"
        data-tip="LinkedIn"
        aria-label="LinkedIn"
      >
        <Icon name="mdi:linkedin" size="24px" />
      </a>
      <a
        href="http://orcid.org/0000-0003-4101-2502"
        target="_blank"
        class="tooltip mx-3"
        data-tip="ORCiD"
        aria-label="ORCiD"
      >
        <Icon name="simple-icons:orcid" size="24px" />
      </a>
      <a
        href="https://scholar.google.se/citations?user=KJt8R0kAAAAJ&view_op=list_works&sortby=pubdate"
        target="_blank"
        class="tooltip mx-3"
        data-tip="Google Scholar"
        aria-label="Google Scholar"
      >
        <Icon name="simple-icons:googlescholar" size="24px" />
      </a>
      <a
        href="http://www.researchgate.net/profile/Philip_Ewels"
        target="_blank"
        class="tooltip mx-3"
        data-tip="Research Gate"
        aria-label="Research Gate"
      >
        <Icon name="simple-icons:researchgate" size="24px" />
      </a>
      <!--
      <a href="/rss.xml" target="_blank" class="tooltip mx-3" aria-data-tipRSS Feed" aria-label="RSS Feed">
        <Icon name="bi:rss-fill" size="24px" />
      </a>
      -->
    </div>
  </div>
</div>
