---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import HorizontalCard from "@components/HorizontalCard.astro";

const workplaces = (await getCollection("workplaces")).sort(
  (a, b) => new Date(b.data.startDate).valueOf() - new Date(a.data.startDate).valueOf(),
);
---

<BaseLayout title="Where I've worked">
  <PageTitle>Where I've worked</PageTitle>
  <p class="mb-3 text-xl">I'm a molecular biologist, turned bioinformatician, turned research-software engineer.</p>
  <p class="mb-5 text-base font-light opacity-80">
    I began my career working with research in epigenetics, notably 3D nuclear structure and DNA methylation. I later
    started working with infrastructure and development of open-source bioinformatics tools. These are the places I have
    worked - click to find out more about the positions.
  </p>
  <ul>
    <!--List the array of astronaut info-->
    {
      workplaces.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.iconImage}
            description={post.data.location}
            countryFlag={post.data.countryFlag}
            tags={[post.data.numPositions + " positions"]}
            url={"/work/" + post.slug}
          />
        </>
      ))
    }
  </ul>
</BaseLayout>
