---
import { Icon } from "astro-icon/components";

const { href, icon } = Astro.props;
---

<li class="relative flex flex-col flex-wrap items-stretch">
  <a class={"/" + Astro.url.pathname.split("/")[1] === href ? "bg-white dark:bg-black/80" : ""} href={href}>
    <Icon name={icon} size="16" />
    <slot />
  </a>
</li>

<style>
  a {
    @apply mb-2 flex items-center gap-3 rounded px-4 py-2 text-black transition duration-200 hover:bg-white hover:pl-5 dark:text-white hover:dark:bg-black/80;
  }
</style>
