---
import { Icon } from "astro-icon";

const { href, icon } = Astro.props;
---

<li class="relative flex flex-col flex-wrap items-stretch">
  <a class="flex items-center gap-3" href={href}><Icon name={icon} size="16" /> <slot /></a>
</li>
