---
import { Icon } from "astro-icon";

const { href, icon, label } = Astro.props;
---

<a href={href} target="_blank" class="opacity-50 hover:opacity-100 transition-opacity" title={label} aria-label={label}>
  <Icon name={icon} size="24px" />
</a>
