---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import SideBar from "@components/SideBar.astro";
import Footer from "@components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="flex flex-row">
      <div class="grid grid-flow-col w-full overflow-hidden h-screen" style="grid-auto-columns: max-content auto;">
        <div class="col-start-2 overflow-y-auto grow row-start-1 flex flex-col bg-base-100 dark:bg-stone-900">
          <Header title={SITE_TITLE} />
          <main id="swup" class="p-4 text-black dark:text-zinc-200 md:p-10">
            <slot />
          </main>
          <Footer />
        </div>
        <div class="dark sidebar w-[350px] grid col-start-1 row-start-1 max-h-screen overflow-x-hidden bg-black/80">
          <SideBar />
        </div>
      </div>
      <div class="border-bar hidden xl:block"></div>
    </div>
    <!-- Google tag (gtag.js) -->
    <script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-7F0L1P0KS1"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-7F0L1P0KS1");
    </script>
    <script hoist>
      import "../swup.js";
    </script>
    <style is:inline>
      #swup {
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
      }

      html.is-animating #swup {
        margin-left: 30px;
        margin-right: -30px;
        opacity: 1;
      }

      .swup-progress-bar {
        height: 4px;
        background-color: rgb(13, 109, 253);
      }
    </style>
  </body>
</html>
