---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="flex flex-row">
      <div class="drawer-mobile drawer">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col bg-base-100 dark:bg-stone-900">
          <Header title={SITE_TITLE} />
          <main class="p-4 text-black dark:text-zinc-200 md:p-10">
            <slot />
          </main>
          <Footer />
        </div>
        <SideBar />
      </div>
      <div class="border-bar hidden xl:block"></div>
    </div>
  </body>
</html>
