---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import SideBar from "@components/SideBar.astro";
import Footer from "@components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <div class="flex flex-row">
      <div class="grid max-h-screen w-full grid-flow-col overflow-hidden" style="grid-auto-columns: max-content auto;">
        <div
          class="col-start-2 row-start-1 mr-0 flex min-h-screen grow flex-col overflow-y-auto bg-white/95 backdrop-blur-xl duration-500 xl:mr-10 dark:bg-black/80"
          id="mainpage"
        >
          <Header title={SITE_TITLE} />
          <main class="grow p-4 text-black md:p-10 dark:text-zinc-200">
            <slot />
          </main>
          <Footer />
        </div>
        <div
          class="sidebar col-start-1 row-start-1 -ml-96 grid h-screen w-screen max-w-96 overflow-x-hidden bg-white/90 duration-500 xl:ml-0 dark:bg-black/80"
          id="sidebar"
        >
          <SideBar />
        </div>
      </div>
    </div>
    <!-- Google tag (gtag.js) -->
    <script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-7F0L1P0KS1"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-7F0L1P0KS1");
    </script>
  </body>
</html>
